<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Edit Your Book</title>
    <link rel="edit" href="/views/index.ejs" />
    <style>
      body {
        background-color: #3B9C9C;
        text-align: center;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
      }
      
      h1 {
        text-align: center;
        color: #151B54;
      }
      table {
        border-collapse: collapse;
        width: 90%;
        text-align: center;
        margin-left: 48px;
      }
      
      th,
      td {
        padding: 8px;
      }
      
      table,
      th,
      td {
        border: 1px solid;
      }
      
      label {
        color: #151B54;
        text-align: center;
      }
      
      .inpt {
        background-color: #82CAFF;
        color: rgb(74, 64, 64);
        font-family: Verdana, Geneva, Tahoma, sans-serif;
      }
      
      .btn {
        background-color: #151B54;
        color:  #82CAFF;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        border-radius: 9px;
      }
    </style>
    </head>
  <body>
    <br />
    <h1>Edit Your Book Now !</h1>

    <br />
    <br />
    <form action="/edit/<%= doc._id %> " method="post">
      <label for="name"> <strong>Name :</strong></label>

      <input class="inpt" type="String" name="Name" value="<%= doc.Name %>" />

      <br />
      <br />

      <label for="author"><strong>Author :</strong></label>
      <input
        class="inpt"
        type="String"
        name="Author"
        value="<%= doc.Author %>"
      />

      <br />
      <br />
      <br />

      <input class="btn" type="submit" value="Update" />
    </form>
  </body>
</html>
